<div *ngIf="heroConcrete" class="container-md mx-auto">
  <button class="bg-transparent border-0" type="button" (click)="goBack()" title="Go back"><img src="../../assets/img/back.png" alt="Go back"></button>
    <h2>{{heroConcrete.getName() | uppercase}} Details</h2>

    <div class="d-flex ">
      <img class="rounded" src={{heroConcrete.getImage()}} alt="" width="400px">
      <div class="m-3 d-flex flex-column w-50">
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle " style="margin-right : 15px;" for="hero-name">Name: </label>
            <input class="align-middle ml-2" id="hero-name" [(ngModel)]="heroConcrete.name" (change)="UpdateName(heroConcrete.getName())" placeholder="Hero name"/>
          </div>
          </div>
          <div class="d-flex m-2 justify-content-between">
            <div class="justify-content-between d-flex w-50">
              <label class="align-middle mr-2" style="margin-right : 15px;" for="hero-degats">Base Damage:</label>
              <input class="align-middle ml-2" id="hero-degats" [(ngModel)]="heroConcrete.degats" (change)="UpdateDegats(heroConcrete.degats)" placeholder="Hero damage">
            </div>
            <p class="align-middle ml-2">Total Damage : {{heroConcrete.getDegats()}}</p>
          </div>
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle mr-2" style="margin-right : 15px;" for="hero-attaque">Base Attack:</label>
            <input class="align-middle ml-2" id="hero-attaque" [(ngModel)]="heroConcrete.attaque" (change)="UpdateAttaque(heroConcrete.attaque)" placeholder="Hero attack">
          </div>
          <p class="align-middle ml-2">Total Attack : {{heroConcrete.getAttaque()}}</p>
        </div>
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle" style="margin-right : 15px;" for="hero-esquive">Base Dodge:</label>
            <input class="align-middle ml-2" id="hero-esquive" [(ngModel)]="heroConcrete.esquive" (change)="UpdateEsquive(heroConcrete.esquive)" placeholder="Hero dodge">
          </div>
          <p class="align-middle ml-2">Total Dodge : {{heroConcrete.getEsquive()}}</p>
        </div>
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle" style="margin-right : 15px;" for="hero-pv" >Base Hit point:</label>
            <input class="align-middle ml-2" id="hero-pv" [(ngModel)]="heroConcrete.pv" (change)="Updatepv(heroConcrete.pv)" placeholder="Hero hit point">
          </div>
          <p class="align-middle ml-2">Total Hit Point : {{heroConcrete.getPv()}}</p>
        </div>
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle" for="hero-image" style="margin-right : 15px;">Image:</label>
            <input type="file" id="hero-image" name="image" accept="image/png, image/jpeg" (change)="getImage($event)">
          </div>
          
        </div>
      </div>
    </div>
    
    <div *ngIf="heroConcrete.armes.length != 0">
      <h3 class="mt-5">Weapons of {{heroConcrete.getName()}}</h3>
      <div class="card mt-3 mb-3" style="width:45%;" *ngFor="let weapon of heroConcrete.armes">
        <img class="card-img-top img-weapon w-100" src={{weapon.image}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{weapon.name}}</h5>
          <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
          <ul>
            <li>Damage : {{ weapon.degats}}</li>
            <li>Attack : {{ weapon.attaque}}</li>
            <li>Dodge : {{ weapon.esquive}}</li>
            <li>Usury : {{ weapon.usure }}</li>
          </ul>
          <a routerLink="/detailweapon/{{weapon.id}}" class="btn w-50">See this Weapon</a>
        </div>
      </div>
    </div>

    <h3 class="mt-5">Weapons available</h3>
    <!-- <div *ngIf="weapons && weapons.length >0" class="weapon-menu">
      
      <div class="card mt-3 mb-3" style="width:45%;" *ngFor="let weapon of weapons">
        <img class="card-img-top img-weapon w-100" src={{weapon.image}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{weapon.name}}</h5>
          <ul>
            <li>Damage : {{ weapon.degats}}</li>
            <li>Attack : {{ weapon.attaque}}</li>
            <li>Dodge : {{ weapon.esquive}}</li>
            <li>Usury : {{ weapon.usure }}</li>
          </ul>
          <a class="btn w-50" (click)="addWeapon(weapon.id)">Add this Weapon to {{heroConcrete.name}}</a>
        </div>
      </div>
    </div>-->

  
    
      
    
  </div>

  <script>
    
  </script>