<div *ngIf="heroConcrete" class="container-md mx-auto">
  <button class="bg-transparent border-0" type="button" (click)="goBack()" title="Go back"><img src="../../assets/img/back.png" alt="Go back"></button>
    <h2>{{heroConcrete.getName() | uppercase}} Details</h2>

    <div class="d-flex ">
      <img class="rounded" src={{heroConcrete.getImage()}} alt="" width="400px">
      <div class="m-3 d-flex flex-column w-50">
        <div class="progress">
          <div  [ngStyle]="{'width.%': styleprogress}" class="progress-bar" role="progressbar" (aria-valuenow)="progress" aria-valuemin="0" aria-valuemax="40"></div>
        </div>
        <div class="d-flex justify-content-between">
          <p *ngIf="restearepartir != 0">{{ restearepartir }} left to use</p>
          <p>Total of point : {{progress}}</p>
          
        </div>
        
        <p class="mt-2 text-danger">{{erreur}}</p>
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle " style="margin-right : 15px;" for="hero-name">Name: </label>
            <input class="align-middle ml-2" id="hero-name" [(ngModel)]="heroConcrete.name" (change)="UpdateName(heroConcrete.getName())" placeholder="Hero name"/>
          </div>
          </div>
          <div class="d-flex m-2 justify-content-between">
            <div class="justify-content-between d-flex w-50">
              <label class="align-middle mr-2" style="margin-right : 15px;" for="hero-degats">Base Damage:</label>
              <input class="align-middle ml-2" id="hero-degats" [(ngModel)]="heroConcrete.degats" (change)="UpdateDegats(heroConcrete.degats)" placeholder="Hero damage">
            </div>
            <p class="align-middle ml-2">Total Damage : {{heroConcrete.getDegats()}}</p>
          </div>
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle mr-2" style="margin-right : 15px;" for="hero-attaque">Base Attack:</label>
            <input class="align-middle ml-2" id="hero-attaque" [(ngModel)]="heroConcrete.attaque" (change)="UpdateAttaque(heroConcrete.attaque)" placeholder="Hero attack">
          </div>
          <p class="align-middle ml-2">Total Attack : {{heroConcrete.getAttaque()}}</p>
        </div>
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle" style="margin-right : 15px;" for="hero-esquive">Base Dodge:</label>
            <input class="align-middle ml-2" id="hero-esquive" [(ngModel)]="heroConcrete.esquive" (change)="UpdateEsquive(heroConcrete.esquive)" placeholder="Hero dodge">
          </div>
          <p class="align-middle ml-2">Total Dodge : {{heroConcrete.getEsquive()}}</p>
        </div>
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle" style="margin-right : 15px;" for="hero-pv" >Base Hit point:</label>
            <input class="align-middle ml-2" id="hero-pv" [(ngModel)]="heroConcrete.pv" (change)="Updatepv(heroConcrete.pv)" placeholder="Hero hit point">
          </div>
          <p class="align-middle ml-2">Total Hit Point : {{heroConcrete.getPv()}}</p>
        </div>
        <div class="d-flex m-2 justify-content-between">
          <div class="justify-content-between d-flex w-50">
            <label class="align-middle" for="hero-image" style="margin-right : 15px;">Image:</label>
            <input type="file" id="hero-image" name="image" accept="image/png, image/jpeg" (change)="getImage($event)">
          </div>
          
        </div>
      </div>
    </div>
    
    
    <div *ngIf="heroConcrete.armes.length != 0" >
      <h3 class="mt-5">Weapons of {{heroConcrete.getName()}}</h3>
      <div class="weapon-menu">
        <div class="card" style="width:22%; margin: 5px" *ngFor="let weapon of HeroWeapons">
          <img class="card-img-top img-weapon" src={{weapon.GetImage()}} alt="Card image cap" width="50%">
          <div class="card-body">
            <h5 class="card-title">{{weapon.GetName()}}</h5>
            <div class="d-flex justify-content-between">
              <a routerLink="/detailweapon/{{weapon.GetId()}}" class="small bg-dark mt-2 text-white rounded">See this Weapon</a>
              <a (click)="RemoveWeapon(weapon.GetIdNumber())" class="small bg-dark mt-2 text-white rounded">Remove Weapon</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <h3 class="mt-5">Weapons available</h3>
    <div *ngIf="weapons && weapons.length >0" class="weapon-menu">
      
      <div class="card" style="width:22%; margin: 5px" *ngFor="let weapon of weapons">
        <img class="card-img-top img-weapon" src={{weapon.GetImage()}} alt="Card image cap" width="50%">
        <div class="card-body">
          <h5 class="card-title">{{weapon.GetName()}}</h5> 
          <a class="small bg-dark m-2 text-white rounded mx-auto w-75" (click)="addWeapon(weapon)">Add this Weapon to {{heroConcrete.getName()}}</a>
        </div>
      </div>
    </div>

    <a id="btn-weapon" (click)="SeeAllWeapons()" class="small bg-dark mt-2 text-white rounded" >{{textSeeWeapon}}</a>

      
    
  </div>

  <script>
    
  </script>