<div class="container mx-auto">
	<div class="row">
		<div class="col-md container-md">
            <h4 class="text-center"><strong>Create a new Heroe</strong></h4>
            <hr>
            <form>
                <div class="form-group m-1">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter a name">
                </div>
                <div class="form-group m-1 d-flex">
                    <div>
                        <label for="attack">Attack</label>
                        <input type="number" class="form-control" id="attack" placeholder="9">
                    </div>
                    <div>
                        <label for="attack">Attack</label>
                        <input type="number" class="form-control" id="attack" placeholder="9">
                    </div>
                    
                </div>
                
                <button type="submit" class="btn btn-primary">Create</button>
              </form>
        </div>
    </div>
</div>

