/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open Sans:400,600,800'); */

h1,h2,h3,h4,h5,h6,div,input,p,a {
    font-family: "Open Sans";
    margin: 0px;
}

button{
    background-color: #3f525c;
    border-radius: 2px;
    padding: 15px;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 40%;
    min-width: 70px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

button:hover{
    background-color: #c1dae8;
    color:#3f525c;
}