  <body class="text-center">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please sign Up</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" class="formControl form-control w-75 mx-auto d-flex" placeholder="Email Address" #userEmail required autofocus="" />
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="formControl form-control w-75 mx-auto d-flex" placeholder="Password" #userPwd required />
      
      <button class="mt-3 bg-dark p-3 text-white rounded mx-auto" type="submit">Sign Up</button>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn link" (click)="authService.GoogleAuth()"><i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>
    
      <div class="redirectToLogin">
        <span>Already have an account? <span class="redirect link" routerLink="/sign-in">Log In</span></span>
      </div>
    </form>
</body>